.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	/* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.livechat-button {
	position: absolute;
	bottom: 0;
	right: 0;
	border: none;
	background: none;
	outline: none;
}